# .gitignore 

# Ignore all files in this dir...
*
**/*.ipynb_checkpoints/

# Except for these...
!.gitignore
!one_plainavg
!README.md
!two_fourclients
!three_centralmodel
!four_paillier
!__init.py__
